img {
  width: 30%;
  float: left;
  margin: 1.66% /* this is from [ 100% - (3 X 30%) ] / [2 margins per image * 3 images] = 10/6 = 1.66 */
}

h1 {
  font-family: Raleway;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 1.66%;

  border-bottom: 2px solid #f1f1f1;
  padding-bottom: 20px;
  width: 30%;
}

p {
  font-family: Raleway;
  font-size: 30px;
  font-weight: 500;
  margin: 1.66%;
}
